# Exploratory analysis : NLP FOMC Project

In [20]:
import numpy as np
import pandas as pd
from urllib import request
import bs4

In [21]:
df = pd.read_csv("/Users/h2jw/Documents/GitHub/NLP-FOMC/RA_project/final_df_v4.csv", low_memory=True)

In [23]:
#df  = df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1','Unnamed: 0.1.1.1'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126782 entries, 0 to 126781
Data columns (total 38 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date               126782 non-null  object
 1   interlocutor_name  126782 non-null  object
 2   statement _size    126782 non-null  int64
 3   statement          126725 non-null  object
 4   statement_number   126782 non-null  object
 5   chair_in_charge    126782 non-null  object
 6   score_acadam       126782 non-null  float64
 7   score_hostile      126782 non-null  float64
 8   score_econo        126782 non-null  float64
 9   score_virtue       126782 non-null  float64
 10  score_vice         126782 non-null  float64
 11  score_hawkish      126782 non-null  float64
 12  score_posi         126782 non-null  float64
 13  score_affi         126782 non-null  float64
 14  score_uncert       126782 non-null  float64
 15  Affil              126782 non-null  float64
 16  Hostile            126782 non-null  float64
 17  Strong             126782 non-null  float64
 18  Power              126782 non-null  float64
 19  Weak               126782 non-null  float64
 20  Submit             126782 non-null  float64
 21  Active             126782 non-null  float64
 22  Passive            126782 non-null  float64
 23  Ovrst              126782 non-null  float64
 24  Undrst             126782 non-null  float64
 25  Quan               126782 non-null  float64
 26  ORD                126782 non-null  float64
 27  CARD               126782 non-null  float64
 28  NUMB               126782 non-null  float64
 29  Yes                126782 non-null  float64
 30  No                 126782 non-null  float64
 31  Negate             126782 non-null  float64
 32  SureLw             126782 non-null  float64
 33  If                 126782 non-null  float64
 34  NotLw              126782 non-null  float64
 35  RspGain            126782 non-null  float64
 36  ABS                126782 non-null  float64
 37  Causal             126782 non-null  float64
dtypes: float64(32), int64(1), object(5)
memory usage: 36.8+ MB

In [24]:
df.tail()

,Date,interlocutor_name,statement _size,statement,statement_number,chair_in_charge,score_acadam,score_hostile,score_econo,score_virtue,...,NUMB,Yes,No,Negate,SureLw,If,NotLw,RspGain,ABS,Causal
126777,2014-12-17,VICE CHAIRMAN DUDLEY,1474,no worries it happened one time under chairman...,statement_285,CHAIR YELLEN,0.003394,0.025119,0.046843,0.036660,...,0.010183,0.014257,0.000679,0.012899,0.042770,0.022403,0.006110,0.000679,0.042770,0.039375
126778,2014-12-17,CHAIR YELLEN,81,thank you okay i think the main open issue in ...,statement_286,CHAIR YELLEN,0.012346,0.012346,0.000000,0.012346,...,0.061728,0.012346,0.012346,0.024691,0.012346,0.000000,0.012346,0.000000,0.037037,0.049383
126779,2014-12-17,MR LUECKE,71,this vote as chair yellen indicated will be on...,statement_287,CHAIR YELLEN,0.014085,0.042254,0.014085,0.014085,...,0.000000,0.098592,0.042254,0.070423,0.098592,0.000000,0.056338,0.000000,0.000000,0.014085
126780,2014-12-17,CHAIR YELLEN,75,okay thank you very much and let me confirm th...,statement_288,CHAIR YELLEN,0.013333,0.013333,0.026667,0.040000,...,0.013333,0.026667,0.000000,0.000000,0.053333,0.040000,0.000000,0.000000,0.040000,0.013333
126781,2014-12-17,MR FISCHER,10,thank you madam chair december – of,statement_289,CHAIR YELLEN,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.100000

La base s'arrête en 2014, on va rajouter le scrapping de 2015 avec les codes contenus dans `codes scrapping`.